altair
asttokens
attrs
blinker
cachetools
certifi
charset-normalizer
click
colorama
contourpy
cycler
decorator
executing
fonttools
gitdb
GitPython
idna
importlib-metadata
ipython
jedi
Jinja2
jsonpickle
jsonschema
jsonschema-specifications
kiwisolver
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
mdurl
mplcursors
networkx
numpy
packaging
pandas
parso
pillow
prompt-toolkit
protobuf
pure-eval
pyarrow
pydeck
Pygments
pyparsing
python-dateutil
pytz
pyvis
referencing
requests
rich
rpds-py
six
smmap
stack-data
streamlit
tenacity
toml
toolz
tornado
traitlets
typing_extensions
tzdata
tzlocal
urllib3
validators
watchdog
wcwidth
zipp
